{% extends 'base.html' %}
{% block body %}
    <h1 class="heading">Blood bank Receiver registration Form</h1><hr>
    <form method="post">
        {% csrf_token %}
        <table>{{ myform }}</table>
        <pre>
<b>Bloodbank</b>           <input type="text"  value="{{ bbnm.bbname }}" readonly />
<b>Username</b>            <input type="text"  value="{{ username }}" readonly />
                  <input type="submit" class="btn-primary" value="Register"/>
        </pre>
  </form
{% endblock body %}